.name{font-weight:bold;}
form{display:inline}
span b{background:#F00;color:#FFF;padding:4px}
span{visibility:visible}
html{overflow: hidden; height:100%; }
body{ height:100%; width: 100%; margin:0;font-family: 'Arial';}


.small{
	font-size:smaller;
	color:#cccccc;
}
.name:after{
	content:">";
	font-weight:normal;
}
dt, dd{display:inline}
dd{margin-left:5px;}
dl{margin-top:0;margin-bottom:0}
dt~dt:before{content:"\a";white-space:pre}/*dtの後のdt*/
span.in{color:rgb(0, 0, 255)}
span.out{color:rgb(0, 0, 255)}

input[type=text]:disabled{background-color: #dddddd;}
input[type=text]:enabled{background-color: #ffffff;}